._13qLV {
	color: #ff5e5e;
	font-size: 12px;
	padding-top: 5px
}

._1K6pV {
	position: relative;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition-property: opacity, visibility, height;
	transition-duration: .1s, .1s, .1s;
	transition-delay: .05s, .05s, .05s
}

._2rrJX._1K6pV {
	opacity: 1;
	visibility: visible
}

._32v0N {
	padding: 15px;
	background-color: #5d83aa;
	border-radius: 5px
}

._2RVJm,
._32v0N {
	position: absolute
}

._2RVJm {
	width: 5px;
	height: 5px;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border: 5px solid transparent;
	border-right-color: #5d83aa
}

@media (max-width: 767px),
(max-width: 1023px) and (max-height: 767px) {
	._1K6pV {
		width: auto;
		margin-top: 5px
	}
	._2rrJX._1K6pV {
		height: auto
	}
	._32v0N {
		position: static
	}
	._2RVJm {
		display: none
	}
}

._1XLCM,
.ijn_F {
	position: relative
}

._1XLCM {
	border-radius: 4px;
	cursor: text;
	height: 50px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif
}

._1XLCM,
._2SCMn {
	display: -webkit-flex;
	display: flex;
	width: 100%
}

._2SCMn {
	font: inherit;
	color: #fff;
	border: 0;
	margin: 0;
	padding: 16px 15px;
	background: transparent;
	outline: none;
	max-height: 50px
}

._2SCMn::-webkit-input-placeholder {
	color: hsla(0, 0%, 100%, .4)
}

._2SCMn::placeholder {
	color: hsla(0, 0%, 100%, .4)
}

._1d9XZ ._2SCMn {
	color: hsla(0, 0%, 100%, .2)
}

._3corf {
	background-color: initial;
	color: #fff;
	caret-color: #d4e157
}

._3corf::-webkit-input-placeholder {
	color: #fff
}

._3corf::placeholder {
	color: #fff
}

._1d9XZ ._3corf {
	color: #fff
}

._2SCMn::-webkit-inner-spin-button,
._2SCMn::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0
}

._2SCMn:-webkit-autofill,
._2SCMn:-webkit-autofill:focus,
._2SCMn:-webkit-autofill:hover {
	-webkit-transition: color 9999s cubic-bezier(1, 0, 1, 0), background-color 9999s cubic-bezier(1, 0, 1, 0);
	transition: color 9999s cubic-bezier(1, 0, 1, 0), background-color 9999s cubic-bezier(1, 0, 1, 0)
}

._2SCMn>option {
	color: #000
}

._2rgPr {
	font: inherit;
	color: #fff;
	width: 100%;
	border: 0;
	margin: 0;
	display: -webkit-flex;
	display: flex;
	padding: 16px 15px;
	background: transparent;
	outline: none;
	max-height: 50px;
	position: absolute;
	line-height: 18px
}

._2rgPr::-webkit-input-placeholder {
	color: hsla(0, 0%, 100%, .4)
}

._2rgPr::placeholder {
	color: hsla(0, 0%, 100%, .4)
}

._1d9XZ ._2rgPr {
	color: hsla(0, 0%, 100%, .2)
}

.uVZnG {
	background-color: initial;
	color: #fff;
	caret-color: #d4e157;
	position: absolute;
	line-height: 18px
}

.uVZnG::-webkit-input-placeholder {
	color: #fff
}

.uVZnG::placeholder {
	color: #fff
}

._1d9XZ .uVZnG {
	color: hsla(0, 0%, 100%, .2)
}

._3qq7E {
	top: -5px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0 8px;
	overflow: hidden;
	position: absolute;
	border-radius: inherit;
	pointer-events: none;
	border: 1px solid hsla(0, 0%, 100%, .4);
	transition: border .15s linear 0ms
}

._1XLCM:hover ._3qq7E {
	border-color: hsla(0, 0%, 100%, .6)
}

._3vpam ._1XLCM:hover ._3qq7E,
._3vpam._2csVH ._1XLCM:hover ._3qq7E,
._3vpam._2csVH ._3qq7E,
._3vpam ._3qq7E {
	border-color: #ff5e5e
}

._2csVH ._1XLCM:hover ._3qq7E,
._2csVH ._3qq7E {
	border-color: #fff
}

._1d9XZ ._3qq7E {
	border-color: hsla(0, 0%, 100%, .2)!important
}

._1XLCM:hover ._2hKlR,
._2hKlR {
	border-color: rgba(0, 0, 0, .4)
}

._2csVH ._1XLCM:hover ._2hKlR,
._2csVH ._2hKlR {
	border-color: #737d8e
}

._1d9XZ ._2hKlR {
	border-color: rgba(0, 0, 0, .15)!important
}

._1bISG {
	width: auto;
	height: 11px;
	display: block;
	padding: 0;
	font-size: .75em;
	max-width: .01px;
	text-align: left;
	transition: max-width 50ms cubic-bezier(0, 0, .2, 1) 0ms;
	visibility: hidden
}

._1m-ID ._1bISG,
._2csVH ._1bISG {
	max-width: 1000px;
	padding-right: 7px
}

._2Tr4_ ._1bISG {
	padding-right: 0;
	max-width: 0
}

._1TPbZ {
	z-index: 1;
	-webkit-transform: translate(14px, 16px) scale(1);
	transform: translate(14px, 16px) scale(1);
	-webkit-user-select: none;
	user-select: none;
	cursor: text;
	transition: color .2s cubic-bezier(0, 0, .2, 1) 0ms, -webkit-transform .2s cubic-bezier(0, 0, .2, 1) 0ms;
	transition: color .2s cubic-bezier(0, 0, .2, 1) 0ms, transform .2s cubic-bezier(0, 0, .2, 1) 0ms;
	transition: color .2s cubic-bezier(0, 0, .2, 1) 0ms, transform .2s cubic-bezier(0, 0, .2, 1) 0ms, -webkit-transform .2s cubic-bezier(0, 0, .2, 1) 0ms;
	-webkit-transform-origin: top left;
	transform-origin: top left;
	white-space: nowrap;
	color: hsla(0, 0%, 100%, .4);
	line-height: 18px
}

._1m-ID ._1TPbZ {
	position: absolute;
	-webkit-transform: translate(14px, -6px) scale(.75);
	transform: translate(14px, -6px) scale(.75)
}

._2csVH ._1TPbZ {
	color: #fff
}

._1m-ID._2Tr4_ ._1TPbZ {
	display: none
}

._3vpam ._1TPbZ,
._3vpam._2csVH ._1TPbZ {
	color: #ff5e5e
}

._120up {
	color: rgba(0, 0, 0, .4)
}

._1m-ID ._120up {
	position: absolute;
	-webkit-transform: translate(14px, -6px) scale(.75);
	transform: translate(14px, -6px) scale(.75)
}

._2csVH ._120up {
	color: #969eaa
}

._3vpam._2csVH ._120up,
._3vpam ._120up {
	color: #f24040
}

.I7nre {
	margin-right: 15px;
	margin-left: 7px
}

._3YQ7i,
.I7nre {
	max-height: 50px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center
}

._3YQ7i {
	margin-left: 15px;
	margin-right: 7px
}

._23GV1 {
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 10px
}

._23GV1 svg>g {
	fill: #fff
}

._3Oem- {
	display: -webkit-flex;
	display: flex;
	width: 100%
}

.CzVJs {
	min-width: 120px;
	width: 120px;
	margin-right: 20px
}

._7deY3 {
	width: 100%
}

._15Kca {
	width: 25px;
	max-height: 20px
}

._2Y7RC,
._15Kca {
	margin-right: 10px
}

@media (max-width: 767px),
(max-width: 1023px) and (max-height: 767px) {
	.CzVJs {
		margin-right: 10px
	}
}

._2CB4P {
	cursor: pointer
}

._2BKJB,
._2rx7L {
	display: -webkit-flex;
	display: flex
}

._2rx7L {
	-webkit-align-items: center;
	align-items: center;
	width: 100%;
	margin-right: 20px;
	padding: 15px;
	max-height: 50px;
	border-radius: 5px;
	border: 1px solid hsla(0, 0%, 100%, .2);
	color: hsla(0, 0%, 100%, .2);
	cursor: pointer
}

._2rx7L:last-child {
	margin-right: 0
}

._3MGHI._2rx7L {
	border-color: transparent;
	background-color: hsla(0, 0%, 100%, .2);
	color: #fff
}

._2ogZ- {
	padding-left: 5px
}

._2MoQ9 {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 30px;
	-webkit-user-select: none;
	user-select: none
}

._2MoQ9,
._3_XCZ {
	display: -webkit-flex;
	display: flex
}

._3_XCZ {
	-webkit-flex-direction: column;
	flex-direction: column
}

._3_XCZ,
.V9CuD {
	cursor: pointer
}

.V9CuD {
	background-color: initial;
	border: 2px solid #3b475c;
	border-radius: 3px;
	width: 20px;
	height: 20px;
	margin-right: 10px
}

._2iGkg {
	background-color: #d4e157;
	border: none
}

.RF216 {
	font-size: 14px;
	font-weight: 700;
	line-height: 20px
}

.iGQIk {
	color: #a6a6a6
}

._2c7G9 {
	color: #fff
}

._36Lzu {
	color: hsla(0, 0%, 100%, .5)
}

._3yQYc {
	text-align: center;
	font-size: 24px;
	color: #fff;
	margin-bottom: 32px
}

._2vFvX,
._3yQYc {
	font-weight: 700
}

._1_qsa,
._2vFvX,
._31lyJ {
	margin-bottom: 16px
}

._31lyJ {
	display: -webkit-flex;
	display: flex
}

._2EX56 {
	width: 100%;
	margin-right: 20px
}

._2EX56:last-child {
	margin-right: 0
}

.Ds4Bx {
	word-break: keep-all
}

.Ds4Bx,
.qNRjx {
	color: hsla(0, 0%, 100%, .5)
}

@media (max-width: 767px),
(max-width: 1023px) and (max-height: 767px) {
	._31lyJ {
		display: block
	}
	._2EX56 {
		margin-right: 0;
		margin-bottom: 16px
	}
}

._2VAdg {
	font-size: 14px;
	color: #fff;
	min-width: 250px
}

.vNQ00 {
	margin: 0;
	padding: 5px 0 0 25px
}